<h1><%= link_to @presentation.name, @presentation %></h1>
<h2>New media file</h2>

<%= render 'form', presentation: @presentation, media_file: @media_file %>

<%= link_to 'Back', presentation_media_files_path(@presentation) %>
