<h1><%= link_to @presentation.name, @presentation %></h1>
<h2>New content block</h2>

<%= render 'form', presentation: @presentation, content_block: @content_block %>

<%= link_to 'Back', presentation_content_blocks_path(@presentation) %>
