body {
  width: 3200px;
  height: 1080px;
}

/* Content area layout */

.content-area.left-area-1x3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 1080px;
}

.content-area.right-area-4x3 {
  position: absolute;
  top: 0;
  left: 640px;
  width: 2560px;
  height: 1080px;
}

