<h1><%= @screen_type.name %> Templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Screen type</th>
      <th>Code</th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= link_to template.name, screen_type_template_path(template.screen_type, template) %></td>
        <td><%= template.screen_type.name %></td>
        <td><%= template.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
