plugins: 'link image code table template',
link_list: [
  <%= @linkable_content_blocks.map{|cb| "{ title: '#{cb.name}', value: '#{cb.id}' }" }.join(', ').html_safe %>
],
target_list: [
  { title: 'Default', value: '' },
  <%= @linkable_content_areas.map{|ca| "{ title: '#{ca.name}', value: '#{ca.id}' }" }.join(', ').html_safe %>
],
link_title: false,
//menubar: false,
min_height: 700,
image_caption: true,
image_advtab: true,
image_list: [
  <%= @linkable_images.map{|i| "{ title: '#{i.file_file_name}', value: '#{i.file.url}' }"}.join(', ').html_safe %>
],
image_class_list: [
  { title: 'None', value: '' },
  { title: 'Big Left Image', value: 'big-left-image' },
  { title: 'Big Right Image', value: 'big-right-image' }
],
image_description: false,
image_prepend_url: '',
relative_urls: false,
/*templates: [
  {
    title: 'Gallery',
    description: 'Gallery of zoomable images.',
    content: '<div class="gallery"><figure class="image"><img src="//placekitten.com/100/100" width="100" height="100" /><figcaption>Gallery Item</figcaption></figure></div>'
  }
]*/
