/* Core styles */

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  background: #ffffff;
  color: #110b11;
  font-size: 18px;
}

a, a:focus, a:visited, a:visited {
  color: #3454d1;
  text-decoration: none;
}

/* WYSIWYG standard classes */

img.big-left-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 1920px;
  width: auto;
}

img.big-right-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 1920px;
  width: auto;
}

img.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

img.full-height-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: -1;
}

img.full-width-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}


/* Content area layout */
