/* Core styles */

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
  overflow: hidden;
  width: 1280px;
  height: 800px;
  background: #ffffff;
  color: #110b11;
  font-size: 18px;
}

a, a:focus, a:visited, a:visited {
  color: #3454d1;
  text-decoration: none;
}

/* WYSIWYG standard classes */

img.big-left-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 780px;
  width: auto;
}

img.big-right-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 780px;
  width: auto;
}

img.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.full-height-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

img.full-width-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Content area layout */

.content-area {
  position: absolute;
}

.content-area.main-area {
  width: 1280px;
  height: 700px;
  top: 0;
  left: 0;
  padding: 15px;
}

.content-area.menu-area {
  width: 1280px;
  height: 100px;
  bottom: 0;
  left: 0;
  background: #efefef;
}

/* Menu */

.content-area.menu-area ul,
.content-area.menu-area ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  line-height: 100px;
  font-size: 32px;
}

.content-area.menu-area ul li,
.content-area.menu-area ol li {
  flex-grow: 1;
  text-align: center;
}

.content-area.menu-area a {
  display: block;
}

.content-area.menu-area a.last-clicked {
  background: #f2f4cb;
}
