body {
  width: 3200px;
  height: 1080px;
}

/* Content area layout */

.content-area.left-area-3x3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.content-area.right-area-2x3 {
  position: absolute;
  top: 0;
  left: 1920px;
  width: 1280px;
  height: 1080px;
}

