.breadcrumbs {
  list-style: none;
  display: flex;
  padding-left: 0;

  li {
    padding-right: 0.4em;

    &:before {
      content: "→ ";
    }

    &:first-child:before {
      content: "";
    }
  }
}

#presentations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .presentation {
    border: 6px solid #0039a0;
    border-radius: 12px;
    margin: 8px;
    padding: 4px 8px;
  }
}

iframe {
  border: 1px solid gray;
}

#plugin-picker {
  li {
    strong {
      display: inline-block;
      min-width: 18em;
    }
    small {
      display: inline-block;
    }
  }

  .color-palette-example {
    display: flex;
    
    > * {
      width: 2em;
    }
  }
}