// Place all the styles related to the Presentations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plugin-picker {
  li {
    strong {
      display: inline-block;
      min-width: 18em;
    }
    small {
      display: inline-block;
    }
  }

  .color-palette-example {
    display: flex;
    
    > * {
      width: 2em;
    }
  }
}
