<h1>Screen Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
    </tr>
  </thead>

  <tbody>
    <% @screen_types.each do |screen_type| %>
      <tr>
        <td><%= link_to screen_type.name, screen_type_templates_path(screen_type) %></td>
        <td><%= screen_type.width %></td>
        <td><%= screen_type.height %></td>
      </tr>
    <% end %>
  </tbody>
</table>
